In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/droom/raw/items_droom_1.csv')

In [3]:
dup = df.duplicated()
df = df[~dup]

In [4]:
df.shape

(509, 8)

In [5]:
df.head(2)

,_type,fuel,km_drove,location,model,owner,price,url
0,DroomItem,"Diesel,Diesel,Diesel,Diesel,Diesel,Diesel,Dies...","29,500 Km,1,26,000 Km,2,09,000 Km,12,000 Km,45...","Pune,Panchkula,Bharuch,Aurangabad,Chennai,Bang...","Toyota Etios Cross 1.4 GD 2019,Volkswagen Jett...","First Owner,Second Owner,First Owner,First Own...","\n , 7,...",https://droom.in/product/toyota-etios-cross-14...
2,DroomItem,"Diesel,Diesel,Diesel,Diesel,Petrol,Petrol,Petr...","1,20,000 Km,23,000 Km,34,000 Km,35,000 Km,68,0...","Thane,Nagpur,Nagpur,Nagpur,Mumbai,Gurgaon,Delh...","Mercedes-Benz E-Class E 250 CDI CLASSIC 2011,V...","First Owner,First Owner,First Owner,First Owne...","\n , 11...",https://droom.in/product/mercedes-benz-e-class...

In [6]:
df.drop('_type',axis=1,inplace=True)
df.head(1)

,fuel,km_drove,location,model,owner,price,url
0,"Diesel,Diesel,Diesel,Diesel,Diesel,Diesel,Dies...","29,500 Km,1,26,000 Km,2,09,000 Km,12,000 Km,45...","Pune,Panchkula,Bharuch,Aurangabad,Chennai,Bang...","Toyota Etios Cross 1.4 GD 2019,Volkswagen Jett...","First Owner,Second Owner,First Owner,First Own...","\n , 7,...",https://droom.in/product/toyota-etios-cross-14...

In [7]:
df.columns

Index(['fuel', 'km_drove', 'location', 'model', 'owner', 'price', 'url'], dtype='object')

In [8]:
def get_list(x):
    """
        Extract data from fuel and create a list from string, splitting by (,). It can work with cells from fuel,
        location, model, owner, and url columns.
        
        Args:
            a comma separated string.
        Return:
            A list from the argument.
    """
    x = x.split(',')
#     print(len(x))
    return x

In [9]:
def get_km(x):
    """
        Extract the km drove. 
        
        Args:
            A string, more likely an element from the km_drove
        Returns:
            A list of elements
    """
    x = x.replace(',','') # as there is comma inside number also
    x = x.lower().strip('km')
    x = x.split('km')
    return x

In [10]:
def get_price(x):
    
    """
        Converts price string into price list.
        
        Args:
            string, more preferably from price column
        Returns:
            A list of prices
    """
    x = x.replace('\n','')
    x = x.replace(' ','')
    x = x.replace(',,','A')
    x = x.replace(',','')
    x = x.split('A')
    return x

import re
x = df.iloc[0,5]
x = x.replace('\n','').strip()
x = x.replace(' ','')
# x = x.strip(',')
# c = re.findall(r'(\b[0-9]*(,[0-9]*)+\b)', x, re.IGNORECASE)
# # c = re.findall(r "^[0-9](,[0-9])", x, re.IGNORECASE)
# c = [i[0] for i in c]
# c
x = x.replace(',,','A')
x = x.replace(',','')
x = x.split('A')
len(x)

In [11]:
df2 = df.copy(deep=True)
df2.columns

Index(['fuel', 'km_drove', 'location', 'model', 'owner', 'price', 'url'], dtype='object')

In [12]:
df2['fuel'] = df2['fuel'].apply(get_list)
df2['km_drove'] = df2['km_drove'].apply(get_km)
df2['location'] = df2['location'].apply(get_list)
df2['model'] = df2['model'].apply(get_list)
df2['owner'] = df2['owner'].apply(get_list)
df2['url'] = df2['url'].apply(get_list)
df2['price'] = df2['price'].apply(get_price)

In [13]:
df2.head()

,fuel,km_drove,location,model,owner,price,url
0,"[Diesel, Diesel, Diesel, Diesel, Diesel, Diese...","[29500 , 126000 , 209000 , 12000 , 45100 , 320...","[Pune, Panchkula, Bharuch, Aurangabad, Chennai...","[Toyota Etios Cross 1.4 GD 2019, Volkswagen Je...","[First Owner, Second Owner, First Owner, First...","[700000, 400400, 300000, 2100000, 620000, 1200...",[https://droom.in/product/toyota-etios-cross-1...
2,"[Diesel, Diesel, Diesel, Diesel, Petrol, Petro...","[120000 , 23000 , 34000 , 35000 , 68000 , 3200...","[Thane, Nagpur, Nagpur, Nagpur, Mumbai, Gurgao...","[Mercedes-Benz E-Class E 250 CDI CLASSIC 2011,...","[First Owner, First Owner, First Owner, First ...","[1175000, 2900000, 2200000, 2400000, 263675, 1...",[https://droom.in/product/mercedes-benz-e-clas...
3,"[Diesel, Diesel, Diesel, Petrol, Petrol, Petro...","[27000 , 35000 , 37000 , 20000 , 55000 , 32000...","[Delhi, Hyderabad, Hyderabad, Delhi, Mumbai, G...","[Audi A4 35 TDI Premium + Sunroof 2014, Toyota...","[First Owner, First Owner, First Owner, First ...","[, 1492255, 2150000, 1950000, 1206000, 248750,...",[https://droom.in/product/audi-a4-35-tdi-premi...
4,"[Diesel, Petrol, Petrol, Diesel, Petrol, Diese...","[57000 , 32000 , 58970 , 99000 , 45000 , 21500...","[Aurangabad, Delhi, Delhi, Aurangabad, Mumbai,...","[Mercedes-Benz C-Class C 220 CDI Style 2017, M...","[First Owner, Second Owner, First Owner, First...","[2900000, 3000000, 6723233, 2710000, 3000000, ...",[https://droom.in/product/mercedes-benz-c-clas...
5,"[Diesel, Diesel, Petrol, Petrol + Cng, Petrol,...","[71000 , 65000 , 34692 , 59000 , 58000 , 12000...","[Delhi, Delhi, Gurgaon, Delhi, Delhi, Mumbai, ...","[Honda City VX(O) 1.5L i-DTEC Sunroof 2014, M...","[First Owner, First Owner, First Owner, First ...","[600000, 295500, 235000, 294400, 269700, 21000...",[https://droom.in/product/honda-city-vxo-15l-i...

In [14]:
df3 = df2.copy(deep=True)

In [15]:
for i in df3:
    df3[i] = df2[i].apply(len)

In [16]:
df3.columns

Index(['fuel', 'km_drove', 'location', 'model', 'owner', 'price', 'url'], dtype='object')

In [17]:
full_idx = df3[df3['fuel']==20].index

In [18]:
fuel = df3[df3['fuel'] != 20].index.tolist()
km = df3[df3['km_drove'] != 20].index.tolist()
loc = df3[df3['location'] != 20].index.tolist()
mod = df3[df3['model'] != 20].index.tolist()
own = df3[df3['owner'] != 20].index.tolist()
price = df3[df3['price'] != 20].index.tolist()
url = df3[df3['url'] != 20].index.tolist()
idx_blank = fuel+km+loc+mod+own+price+url
len(idx_blank)

82

In [19]:
full_df = df2.drop(idx_blank)
full_df.shape

(428, 7)

In [20]:
dict_d = {}
for i in full_df:
    dict_d[i] = [j for sub in full_df[i].tolist() for j in sub]

In [21]:
for i in dict_d.keys():
    print(f"{i}: {len(dict_d[i])}")

fuel: 8560
km_drove: 8560
location: 8560
model: 8560
owner: 8560
price: 8560
url: 8560

In [22]:
data_df = pd.DataFrame(dict_d)
data_df.head()

,fuel,km_drove,location,model,owner,price,url
0,Diesel,29500,Pune,Toyota Etios Cross 1.4 GD 2019,First Owner,700000,https://droom.in/product/toyota-etios-cross-14...
1,Diesel,126000,Panchkula,Volkswagen Jetta 2.0L TDI Comfortline 2010,Second Owner,400400,https://droom.in/product/volkswagen-jetta-20l-...
2,Diesel,209000,Bharuch,Tata Safari Storme LX 2013,First Owner,300000,https://droom.in/product/tata-safari-storme-lx...
3,Diesel,12000,Aurangabad,Jeep Compass Limited Plus 2.0 Diesel 4X2 2019,First Owner,2100000,https://droom.in/product/jeep-compass-limited-...
4,Diesel,45100,Chennai,Toyota Etios Liva VD Dual Tone 2017,First Owner,620000,https://droom.in/product/toyota-etios-liva-vd-...

In [23]:
data_df.shape

(8560, 7)

In [24]:
problematic_idx = df2.loc[idx_blank,:]
prob_count = df3.loc[idx_blank, :]
problematic_idx.shape, prob_count.shape

((82, 7), (82, 7))

In [25]:
price_fault_idx = prob_count[prob_count['price']==21].index

In [26]:
price_fault = df2.loc[price_fault_idx,:]
price_d = {}
for i in price_fault:
    if i != 'price':
        price_d[i] = [j for sub in price_fault[i].tolist() for j in sub]
    else:
        l = [j for sub in price_fault[i].tolist() for j in sub]
        l = [i for i in l if i != '']
        price_d[i] = l

In [27]:
for i in price_d.keys():
    print(len(price_d[i]))

1340
1340
1340
1340
1340
1340
1340

In [28]:
price_df = pd.DataFrame(price_d)

In [29]:
full_df2 = data_df.append(price_df)
full_df2.shape, price_df.shape, data_df.shape

((9900, 7), (1340, 7), (8560, 7))

In [108]:
df_clean.to_csv('../data/droom/processed/droom_car_data.csv', index=False)

In [62]:
full_df.to_csv('../data/droom/processed/full_data.csv', index=False)

In [31]:
data_df.to_csv("../data/droom/processed/data.csv", index=False)
full_df2.to_csv("../data/droom/processed/data_full.csv", index=False)

In [32]:
data_df.shape, full_df2.shape

((8560, 7), (9900, 7))

In [37]:
l = data_df['model'].value_counts().index.tolist()
model_df = pd.DataFrame()
model_df['models'] = l
model_df.to_csv("car_models.csv", index=False)